<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorator="layout">
  <head>
    <title>JavaScript Framewoork</title>
    <link rel="stylesheet"
      th:href="@{/css/bootstrap.min.css}"
      href="../../css/bootstrap.min.css"/>
  
   <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  
</head>

<body>
	<div layout:fragment="content">
    	<p class="text-info">
    	JavaScript Framework
    	
    	
	      <br></br>      
 		</p>
  	</div>
</body>
</html>