<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Sales Master Login </title>
        
        <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
        
    </head>
    <body>
       
       <div class="container">
    		<div class="row">
    			<div class="col-sm-6 col-md-4 col-md-offset-4">
    				<h1 class="text-center login-title">Sign in to continue to SalesMaster</h1>
    				<div class="account-wall">
    					<form class="form-signin" th:action="@{/login}" method="post">	
               				<input type="email" placeholder="email" name="username" class="form-control" required="required" autofocus="autofocus"/>
            				<input type="password" placeholder="password" name="password" class="form-control" required="required"/>
           					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign In </button>
           					
           					<div th:if="${param.error}" class="text-danger">
            					Invalid username and password.
        				</div>
        				<div th:if="${param.logout}" class="text-danger">
            					You have been logged out.
        				</div>
           					
        				</form>        				
    				</div>
    			</div>
    		</div>
		</div>
       
       
	</body>
</html>