<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorator="layout">
  <head>
    <title>MAS Playpen  - Project Info</title>
    <link rel="stylesheet"
      th:href="@{/css/bootstrap.min.css}"
      href="../../css/bootstrap.min.css"/>
  
   <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  
  	<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
</head>

<body>
	<div layout:fragment="content">
    	<p class="text-info">
    	This play-pen application has been created for use by developers to get used try feature branch development. Also as a playpen for trying out useful bits of code.
    	 
    	Feel free to add new features to this application or if you have code that you want to play with just add to this project.
    	
    	
    	
	      <br></br>      
 		</p>
  	</div>
</body>
</html>